.my-el-header, .my-el-footer {
  background-color: #e30847;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.my-el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 100px;
}

.my-el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}
